<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <header>
    <h1>Recipe App</h1>
  </header>
  <div class="content">
    <aside>

    </aside>
  </div>
  <img class='kitchen-img' src="pallete.jpg">
  <main>
    <article>
      <h1>Welcome</h1>
      <button> See All Recipes</button>
    </article>
    <div class="recipe-side-preview">
      <%= recipes %>
    </div>
  </main>
</body>
</html>